*{
    font-family: 'Inter, sans-serif';
    font-size: 32px;
    font-weight: 400;
}

body{
    background-color: aliceblue;
    background-image: url("img/template3.png");
    position:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    

}

header{
    margin-left: 40px;
}


main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto{
    margin-top: 90px;
}

.mensagem{
    color: white;
    position: relative;
    margin-top: 90px;
    margin-left: 90px;
    background-repeat: no-repeat;
    background-position: center;
    width: max-content;
    resize: none;
    background-color: black;
}


.copiar{
    position: relative;
    margin-top: 100px;
    margin-left: 250px;
    position: relative;
}

.botoes{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.encriptar{
    background-color:rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    background-image: none;
}

.desencriptar{
    margin-left: 30px;
    background-color: rgb(233, 233, 236);
    position: relative;
}

.informacao{
    font-size: 15px;
}

.logoalura{
    width: auto;
    height: 29px;
}

.contatos{
    width: 200%;
    border: 5px;
    background: white;
    bottom: 0;
}

.btnCopiar.ativo{
    background: rgb(0, 85, 255);
}